.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .navbar {
        width: 90%;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: flex-end;

        ul {
            position: absolute;
            left: 50%;
            transform: translate(-50%,0);
            width: max-content;
            display: flex;
            list-style: none;
            gap: 1rem;
            margin: 0;
            padding: 0;
        }
    }
}
